[submodule "third/legal-mcp"]
	path = third/legal-mcp
	url = https://github.com/lijunjie2232/legal-mcp.git
[submodule "third/webmcp"]
	path = third/webmcp
	url = https://github.com/lijunjie2232/webmcp.git
